.example-card {
    width: 300px;
  }

  .example-card-modal {
    width: 500px;
    height: auto;
    box-shadow: none;
}

  .text-muted {
    padding: 0 7px;
    background-color: rgb(207, 200, 200);
    border-radius: 100px;
    display: inline-flex;
    margin: 3px;
    color: rgba(0, 0, 0, .87);
    align-items: center;
    height: 25px;
    font-size: 10px;
    cursor: pointer;
    border: none;
  }

  .text-discount {
    padding: 0 5px;
    background-color: rgb(241, 127, 127);
    border-radius: 100px;
    display: inline-flex;
    margin: 3px;
    color: rgba(0, 0, 0, .87);
    align-items: center;
    height: 25px;
    font-size: 10px;
    cursor: pointer;
    border: none;
  }

  .text-discount-value {
    color: red;
    font-size: 12px;
    text-decoration: line-through;
  }

  .card-footer{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    margin: 10px 0 10px 0;
    background-color: white;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin: 0 100px 0 100px;
  }
  .grid-item {
    padding: 10px;
  }
